@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400&family=Space+Mono:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.rotate-animation {
    animation: rotate 2s linear infinite;
}
.padding {
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 0rem;
}
.paddingX {
  padding-left: 3rem;
  height: 60px;
}
.hoverBg:hover{
  background-color: #58B1FF;
  border-radius: 20px;
}
.borderDash{
  /* border-radius: 0 50px 50px 0; */
}

  



